<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stamplay-Starter</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-app="app" ng-controller="appCtrl">

    <!-- Header -->
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Self Starter</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                      <a href="#page-top"></a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#rewards">Rewards</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>

                    <div style="padding-top: 15px;padding-bottom: 15px;line-height: 20px;position: relative;display: block;padding-left:15px;">
                      <li class="dropdown user-nav-badge page-scroll" ng-show="user.dt_create">    
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{user.displayName}}<b class="caret" style="border-top-color: #777;border-bottom-color: #777;"></b>
                        </a>
                        <ul class="dropdown-menu">
                        <li  role="presentation">
                          <a ng-click="logout()">
                            Logout
                            <span class="fa fa-sign-out pull-right">
                          </a>
                        </li>
                        </ul>
                      </li>
                      <li>
                        <a ng-click="fbLogin()" ng-hide="user.dt_create" href="#">
                        <i class="fa fa-facebook"> Login</i></a>
                      </li>
                    </div>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header style="background-color: rgb(242,247,248);">
        <div class="container">
            <div class="intro-text">
                <h2 style="color:#008ce1;margin-bottom:35px;">Stamplay</h2>
                <div class="row">
                    <br />
                    <div class="col-md-8 text-left">
                        <div class="video-container">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/wZ9sOqDSqyk?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;controls=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;theme=light" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        
                        <div class="h1 bold" style="margin-top: 15px;">
                            <data >{{backers}}</data>
                        </div>
                        <span class="bold h5">
                            <data >backers</data>
                        </span>
                        <div class="h1 bold" style="margin-top: 15px;">
                            <data>$ {{money}}</data>
                        </div>
                        <span class="bold h5">
                            pledged, $12000 of goal
                        </span>
                        <div class="h1 bold" style="margin-top: 15px;" >
                            <data id="data-left" data-expire-date="25/12/2016"> {{daysLeft}} </data>
                        </div>
                        <span class="bold h5">
                            days to go
                        </span>
            
                        <br />

                         <a ng-click="fbLogin()" class="btn btn-xl" style="margin-top: 15px;" ng-hide="user.dt_create">Login/signup</a>
                         
                         <a class="page-scroll btn btn-xl" id="support-project" style="margin-top:15px;" href="#rewards" ng-show="user.dt_create">Back this Project</a>

                        <br />
                        <div class="h4 bold" style="margin-top: 15px;">
                         <img src="https://stamplay.com/images/Giuliano.jpg" class="img-responsive img-circle" style="float:left" width="50"/>
                        <span class="text-primary" style="line-height: 3;margin-left: 10px;">Giuliano Iacobelli</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom:20px;">
            <div class="row" style="color:#404b82;margin-bottom: 30px;">
                <br />
                <div class="col-md-8">
                   <label class="text-left" style="color:#404b82"> 
                  <h4>Build your next web app without reinventing the wheel</h4>
                  The best reason to use Stamplay is that it lets you spend a lot less time worrying 
                  about the server-side logic and more time focusing on the user experience. 
                  And virtually no time learning how to use it.
              </label>
                </div>
                <div class="col-md-4 text-left" >
                    <i class="fa fa-tag fa-2"></i> Developement, code 
                    <br />
                    <i class="fa fa-globe fa-2"></i> <a href="www.stamplay.com" target="_blank">www.stamplay.com</a>
                   
                </div>
            </div>
        </div> 
    </header>

    <!-- Services Section -->
    <section id="rewards" style="background-color: white;color: white;padding-top: 100px;">
        <div class="container" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 40px;">
                    <h2 class="section-heading" style="color:#404b82">Choose the Reward:</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="month">
                        <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-thumbs-o-up fa-stack-1x"></i>
                        </span>
                        <h4 class="service-heading rewards"> Supporter </h4>
                        <p class="description-reward">Get 2 free starter plan month worth 38$ with all the essential features to start building your first app</p>
                        <a ng-click="openModal('5')" class="btn btn-xl" style="margin-top: 15px;" ng-show="user.dt_create">Pledge 5$</a>
                        <a  class="btn btn-xl" style="margin-top: 15px;" ng-hide="user.dt_create" disabled >Pledge 5$
                            <p class="login"> Please login</p>
                        </a>

                    </div>
                </div>
                <div class="col-md-3 " >
                    <div  class="month">
                         <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-heart fa-stack-1x"></i>
                        </span>
                        <h4 class="service-heading rewards"> Lover</h4>
                        <p class="description-reward">Get 2 free plus plan month worth 90$ to kick-off your next great app with almost no limit</p>
                        <a ng-click="openModal('15')" class="btn btn-xl" style="margin-top: 15px;" ng-show="user.dt_create">Pledge 15$</a>
                        <a  class="btn btn-xl" style="margin-top: 15px;" ng-hide="user.dt_create" disabled>Pledge 15$
                            <p class="login"> Please login</p>
                        </a>

                        </div>
                </div>
                <div class="col-md-3 " >
                    <div  class="month">
                        <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-star fa-stack-1x"></i>
                        </span>
                        <h4 class="service-heading rewards" > Fan</h4>
                        <p class="description-reward">Get 6 free plus plan month worth 270$ to bootstrap something that wants to last</p>
                        <a ng-click="openModal('30')" class="btn btn-xl" style="margin-top: 15px;" ng-show="user.dt_create">Pledge 30$</a>
                        <a  class="btn btn-xl" style="margin-top: 15px;" ng-hide="user.dt_create" disabled>Pledge 30$
                            <p class="login"> Please login</p>
                        </a>
                       
                    </div>
                </div>
                <div class="col-md-3 " >
                    <div  class="month">
                        <span class="fa-stack fa-lg" style="font-size: 2.5em;">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-trophy fa-stack-1x"></i>
                        </span>
                        <h4 class="service-heading rewards"> Fanatic </h4>
                        <p class="description-reward"> We'll just love you giving back 12 free plus plan month!</p>
                        <a ng-click="openModal('50')" class="btn btn-xl" style="margin-top: 15px;" ng-show="user.dt_create">Pledge 50$</a>
                        <a  class="btn btn-xl" style="margin-top: 15px;" ng-hide="user.dt_create" disabled>Pledge 50$
                            <p class="login"> Please login</p>
                        </a>

                    </div>
                </div>
            </div>
          
        </div>
    </section>

    <!-- About Section -->
    <section id="about" style="padding-top: 100px;background-color: #008ce1;color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:#404b82">About:</h2>
                    <h3 class="section-subheading text-muted">Our story</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./images/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="./images/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" >
                                <h4 style="color:white">Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray" style="padding-top: 100px;background-color: rgb(232, 230, 230);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:#404b82">Our Amazing Team</h2>
                    <h3 class="section-subheading text-primary">Nice to meet you!.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Giuliano.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Giuliano Iacobelli</h4>
                        <p class="text-primary">CO-Founder</p>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Nicola.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Nicola Mattina</h4>
                        <p class="text-primary">CO-Founder</p>
                      
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Alessandro.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Alessandro Oliveri</h4>
                        <p class="text-primary">Frontend Illusionist</p>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Mirko.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Mirko di Serafino</h4>
                        <p class="text-primary">Full-stack Ninja</p>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Claudio.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Claudio Petrini</h4>
                        <p class="text-primary">Backend Hero</p>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://stamplay.com/images/Cristian.jpg" class="img-responsive img-circle" alt="" width="150">
                        <h4>Cristian Roselli</h4>
                        <p class="text-primary">Full-stack Ninja</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright text-primary">Copyright &copy; Stamplay 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Support Stamplay, because we <i class="fa fa-heart"></i> you</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Payment Modal</h4>
          </div>
          <div class="modal-body">

            <span class="bg-warning" > 
                This demo will not actually charge you as the Stripe component is in test mode. 
            </span>

            <div class="form-group col-md-12" style="margin-top:35px;">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-credit-card"></i>
                  </span>
                  <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card" class="form-control" ng-init="number='4111111111111111'" value="4111111111111111" disabled>
                </div> 
             
            </div>

            <div class="form-group col-md-7">     
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>            
                  <input ng-model="expiry" payments-format="expiry" payments-validate="expiry" name="expiry" class="form-control" placeholder="expire MM/YY" ng-init="expiry='12/2030'" value="12/2030" disabled>
                </div>
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" class="form-control" ng-init="cvc='123'" value="123" disabled>
                </div>     
            </div>

          </div>
          
          <div class="modal-footer">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="button" id="pay-button" class="btn btn-primary " ng-click="pay(currentAmount)"> Pay {{currentAmount}} $</button>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</body>

    <script src="./js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script> Stripe.setPublishableKey('pk_test_02nzkzAzw9hfzzeAcVFGBkai');</script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="./js/external.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="https://drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/1.1.0/stamplay.min.js"></script>
    <script src="./js/angular-stamplay.js"></script>
    <script> var app = angular.module('app', ['ngStamplay']);</script>
    <script src="./js/app.js"></script>

</html>
